* {
  font-family: "Nanum Myeongjo", serif;
  box-sizing: border-box;
  margin: 0;
}
html body {
  height: 100%;
}
/* .wrapper{
    min-height: 100vh;
} */
body {
  background: lightgrey;
}
/* trying out css variables */
:root{
  --fontColor:rgb(23, 48, 8);
}
/* div{
  color:var(--fontColor);
} */
header a {
  display: block;
}
.header{
  margin-bottom:2rem;
}

header {
  display: flex;
  margin-left: 1.5rem;
  flex-direction: row;
  height: 3rem;
}
header h1 {
  flex: 1;
  padding-top: 1.25rem;

  margin-left:1rem;
}
.headerLinks {
  display: flex;
}
.top-link {
  margin-right: 1rem;
}
.top-lin {
  list-style: none;
  flex: 1;
  margin-right: 2rem;
  padding-top: 1rem;
}
a:hover {
  font-size: 1.25rem;
  color:var(--fontColor);
}


.heading {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: solid black 0.3rem;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.headingStyle{
    text-shadow: 1px .5px 7px darkgrey;
}
#logo{
   /* width:10%; */
   height:80%;
   border-radius:20px; 
}
.centering{
  text-align:center;
}
h3 .logoCoupon{
  height:1.5rem;
}
.firstSec{
    margin-top: 1rem;
}
.requestHeading{
  padding:1rem;
  font-size:1.8rem;
}
.requestSubHead{
  padding:1rem;
}
#totalDisplay{
  text-align: center;
  padding: 1rem;

  border-radius:.5rem;
  margin-left:35%;
  margin-top:2rem;
  width:30%;
  font-size:2rem;

}
.registerPage {
  padding-top: 2rem;
  padding-left: 1rem;
  border-top:1px solid black;
}
.sub-heading {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 2rem;
  margin: 3rem;
  color: maroon;
}
#banner {
  height: 3.5rem;
  width: 100%;
  /* margin-top:.5rem; */
}
button #closeBanner{
   display: inline-block;
}
#buttonDiv{
  text-align:end;
}
.img-container{
  margin-top:-1rem;
}
.img-container2{
  display:flex;
  padding:.2rem;
  justify-content: space-between;
}
.imgLayout{
  border-radius:2rem;
  height:175px;
  width:270px;
}
.featureRest{
  padding:2rem 1rem;
}
.backgrd-img {
  height:25rem;
  background: url("https://media-cdn.grubhub.com/image/upload/c_scale,w_1150/q_50,dpr_auto,f_auto,fl_lossy,c_crop,e_vibrance:20,g_center,h_900,w_800/v1534256595/Onboarding/Burger.jpg");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  background-color: brown;
  text-align:center;
}
.bckgrd-title{
  font-size: 2rem;
  width:25rem;
  text-align:center;
  margin-left:33%;
  background-color: rgb(165,42,42,0.35);
  /* opacity:0.5; */
  font-weight:bold;
  border-radius:15px;
  padding:.25rem;
  margin-top:2.5rem;
  
}
.driver{
  padding-top:2rem;
}
section p {
  font-size: 1.25rem;
  margin: 1rem 3rem;
}

.lastP {
  padding-bottom: 10rem;
  margin:0;
}
.container {
  border-bottom: 1px solid black;
  padding-bottom: 25rem;
}
.choose{
  margin-left:4rem;
  margin-top:3rem;
  margin-bottom:2rem;
}
.flexContainer{
  display:flex;
  padding: 10px;
  flex-direction:row;
  justify-content: space-evenly;
}
.item {
  width: 12rem;;
  height: 10rem;
  padding: 10px;
  background-color: rgba(111,41,97,.3);
  border: 2px solid rgba(111,41,97,.5);
  text-align:center;
  font-size:1.3rem;
}
.classic{
  margin-top:1.5rem;
}
.premium{
  margin-top:3rem;
}
.radioButton{
  text-align:center;
  cursor: pointer;
}
.radioContainer{
  text-align:center;
  
}
.classic15{
  margin-top:3rem;
}
.premium18{
  margin-top:1.5rem;
}
#radioButton6 input[type="radio"]:hover{
  background-color:darkslateblue;
}
#submit {
  margin-top: 2rem;
  margin-left: 52%;
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 5px;
}
input:hover {
  background-color:lightskyblue;
}
#submit:hover {
  font-size: 1.5rem;
}
.requestEmailLabel{
  margin-left:4rem;
  margin-top:1rem;
}
.requestInput{
  margin-left:8rem;
  margin-top:1rem;
  padding-right:8rem;
}
#reqButton{
  margin-top:3rem;
  text-align:center;
  padding:5px;
  margin-bottom:3rem;
}
.req-but{
  padding:.5rem;
  font-size:1.5rem;
  border-radius:.3rem;
}
.req-but:hover{
  background-color: darkslateblue;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 1auto;
  flex: 1;
  padding-left: 1rem;
}

.formHeadings {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}
label {
  display: block;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}
input {
  border-radius: 3px;
}
.border-bottom {
  border-bottom: 1px solid black;
  margin:0;
}
.feature-recipe{
    margin-right:0;
}
.feature{
    padding-top:1rem;
    margin-left:1rem;
}
.feature-title{
    margin-left:1rem;
    padding-top:.5rem;
}
.method{
    padding-bottom: 1rem;
    margin-right: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 2rem;
  flex: 1;
  align-items: stretch;
}
.mainFooter{
   padding-bottom:2rem;
}
table{
    width:100%;
    padding:2rem;
    
}
.post {
  color: purple;
}
#zip-label{
    margin-left:1rem;
}
input #zipcode:hover{
  background-color: pink;
}
#zipcode {
  border-radius: .25rem;
  margin-left:1rem;
  padding: .25rem 3rem;
}
#zip-btn {
  border-radius: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.zipArea{
  text-align:center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 1;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; At the bottom of the tooltip 
  left: 50%;
  margin-left: -5px;
  border: 3px dotted black;
} */
.coupon {
  border: 5px dotted #bbb; /* Dotted border */
  width: 5rem;
  border-radius: 1rem; /* Rounded border */
  /* margin: 0 auto; Center the coupon */
  max-width: 600px;
 
}

.couponContainer {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
.coupon:hover{
  display:block;
}